.bio {
    font-size: 15pt;
    font-weight: 500;
    color: white;
    margin: 10px 0;
    line-height: normal;
    width: 65vw;
}

@media only screen and (max-width: 600px) {
    .bio {
        font-size: 12pt;
        width: 80vw;
    }
}
