.App {
    text-align: center;
    overflow-y: hidden;
    background: #2E3E48;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

#sidebutton {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 3;
}

#sidebutton:hover {
    color: cadetblue;
}

/* scrollbar styling */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media all and (max-width: 980px) {
    .info{
        /*margin-left: 0px;*/
        left: 4%;
        right: 4%;
    }

    #pagetitle {
        text-align: center;
    }

    #profile-wrapper {
        text-align: center;
    }

    #profile {
        margin-left: 1.5vw;
        margin-right: 1.5vw;
    }
}

#infodivider {
    border-top: 1px solid rgba(34, 36, 38, 0.5);
}

@media all and (max-width: 980px) {
    #entry{
        max-width: 92vw;
    }
}




